body {
  background-color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  color: #4a4a4a;
}

header {
  background-color: #ffffff;
  text-align: center;
  position: fixed;
  width: 100%;
}

main {
  padding-top: 111px;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.3em;
  font-weight: 700;
  /* line-height: 1.2em; */
}

h2 {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.5em;
  font-weight: 400;
  margin-top: 32px;
  margin-bottom: 16px;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

p {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  padding: 0;
}

footer {
  border-top: 1.5px solid rgb(238, 238, 238);
  text-align: center;
}

.hero-description {
  font-size: 20px;
}

a {
  color: #351a11;
  text-decoration: none;
}

a:visited {
  /* visited link */
  color: #b8b8b8;
}

a:hover,
a:focus {
  color: #7e3e27;
  /* text-decoration: underline;  */
}

a:active {
  /* selected link */
  color: #341c13;
}

nav {
  width: 100%;
}

nav a {
  color: #351a11;
  text-decoration: none;
}

nav a:visited {
  /* visited link */
  color: #76ba90;
}

nav a:hover,
nav a:focus {
  color: #b1a4a0;
  text-decoration: underline;
}

nav a:active {
  /* selected link */
  color: #241813;
}

.button {
  border: none;
  font-family: inherit;
  background-color: #05676e;
  color: white !important;
  text-decoration: none;
  padding: 10px 20px;
  transition: 0.4s opacity, 0.5s background-color, 0.4s font-size;
}

.button:visited {
  color: #b8b8b8;
  border: 1px solid #b8b8b8;
}

.button:hover {
  background-color: rgb(2, 37, 38);
  color: #ffffff;
  opacity: 0.8;
  font-size: 18px;
}

.button:active {
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #000000;
}

/* Layout styling */

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

.logo {
  max-width: 50px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  text-transform: uppercase;
  font-weight: 400;
  padding: 10px;
  color: #76ba90;
}

.social a {
  display: inline-block;
  width: 30px;
  margin: 15px;
}

.copyright {
  margin: 15px;
}

#hero {
  background-color: #ffffff;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero h1 {
  margin: 15px;
  text-align: center;
}
#hero p {
  margin: 15px;
  text-align: center;
}

#work {
  text-align: center;
}

#profile-pic {
  max-width: 200px;
}

.footer1::before {
  content: "\a";
  white-space: pre;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

@keyframes moon-rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(25deg);
  }
}

.moon {
  transform-origin: 50% 50%;
  animation: moon-rotate 5s ease-in-out alternate infinite;
}

@keyframes bounce {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }

  60% {
    transform: scale(1.2);
    opacity: 1;
  }

  100% {
    transform: scale(1);
  }
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  main {
    padding-top: 91px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #about-page h3 {
    margin-top: 0;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}

/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {
}
